* {
    box-sizing: border-box;
  }

.ratingAndGif {
    float: left;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}